.experiencia {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -22px;
	/* background-color: antiquewhite; */
	/* background: rgba(36, 123, 160, 0.7);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(3.4px);
	-webkit-backdrop-filter: blur(3.4px);
	border-radius: 10px; */
}
.experiencia__right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.experiencia__left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.experiencia__img-title {
	color: var(--black);
	text-align: center;
}
.experiencia__txt-title {
	color: #247ba0;
}
.experiencia__img {
	width: 40vw;
}
.experiencia__img-calc {
	width: 20vw;
}
.experiencia__txt-con-r {
	width: 40vw;
	margin-left: 4rem;
}
.experiencia__txt-con-l {
	width: 40vw;
	margin-right: 4rem;
	text-align: right;
}

/* FIXME */
.experiencia__repo {
	min-width: 7rem;
	height: 2rem;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	z-index: 0;
	background: #fff;
	overflow: hidden;
	border: 2px solid var(--dkblue);
	color: var(--dkblue);
}
.experiencia__repo:hover {
	color: #fff;
}
.experiencia__repo:hover:after {
	height: 100%;
}
.experiencia__repo:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	background: var(--dkblue);
}
/* TODO */

.experiencia__demo {
	min-width: 7rem;
	height: 2rem;
	color: (--dkgreen2);
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	z-index: 0;
	background: #fff;
	overflow: hidden;
	border: 2px solid var(--dkblue);
	color: var(--dkblue);
}
.experiencia__demo:hover {
	color: #fff;
}
.experiencia__demo:hover:after {
	height: 100%;
}
.experiencia__demo:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background: var(--dkblue);
}
