.intro {
	/* background-color: var(--dkgreen); */
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 15%;
	padding-right: 15%;
	/* margin: 4px auto; */
	/* width: 60vw; */
}
.intro__img {
	/* border-radius: 100px;
	width: 10vw;
	max-width: 100%; */
	width: 18vw;
	height: 18vw;
	-webkit-border-radius: 70vw;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 70vw;
	-moz-background-clip: padding;
	border-radius: 70vw;
	background-clip: padding-box;
	margin: 2rem auto;
	float: left;
	background-size: cover;
	background-position: center center;
}

.bloque-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.intro__titulo {
	font-size: 1.9rem;
	text-align: justify;
}
.intro__texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: justify;
}
.intro__parrafo {
	margin: 5px auto;
	font-size: 1.1rem;
}
.intro__social-links ul {
	display: flex;
	justify-content: space-around;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.intro__social-links ul li {
	list-style: none;
	font-size: small;
	flex-wrap: nowrap;
}
.intro__social-links ul li a {
	font-size: 0.9rem;
	padding: 0 10px;
	flex-wrap: nowrap;
	color: var(--black);
	transition: all 0.1s ease;
	display: block;
}

.intro__social-links ul li a:hover {
	color: var(--coffe);
	text-decoration: underline;
}
.intro__arrow-img {
	width: 9px;
}
@media screen and (max-width: 800px) {
	.intro {
		width: 80vw;
	}
}
@media screen and (max-width: 400px) {
	.bloque-flex {
		flex-direction: column-reverse;
	}
	.intro__img {
		margin-left: 0;
	}
	.intro__titulo {
		font-size: 1.4rem;
	}
	.intro__texto {
		font-size: 1rem;
	}
}
