.intro {
	background-color: var(--dkgreen2);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2% 8%;
}
.bloque-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.intro__titulo {
	font-size: 1.9rem;
}
.intro__texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.intro__parrafo {
	margin: 5px auto;
	font-size: 1.1rem;
}
.intro__social-links ul {
	display: flex;
	justify-content: space-around;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.intro__social-links ul li {
	list-style: none;
	font-size: small;
	flex-wrap: nowrap;
}
.intro__social-links ul li a {
	font-size: 0.9rem;
	padding: 0 10px;
	flex-wrap: nowrap;
	color: var(--black);
	transition: all 0.1s ease;
	display: block;
}

.intro__social-links ul li a:hover {
	color: var(--coffe);
	text-decoration: underline;
}
.intro__arrow-img {
	width: 9px;
}
