.sobre-mi {
	padding: 10%;
	/* background-color: var(--dkgreen); */
	background-color: var(--dkgreen2);
}
.sobre-mi__header {
	font-size: 1.6rem;
	padding: 10px;
}
.sobre-mi__text {
	width: 70vw;
	margin: 2px auto;
}
@media screen and (max-width: 400px) {
	.sobre-mi__header {
		font-size: 1.2rem;
	}
}
