* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	--black: #171321;
	--dkblue: #247ba0;
	--coffee: #493e3a;
	--lgblue: #5eb3fd;
	--green: #95e5b7;
	--dkgreen: #8ce3b0;
	--dkgreen2: #7ab995;
	--white: #f7f8fa;
	--font-size: 1.3rem;
	--mono: "Oxygen mono", monospace;
	--sans: Raleway, sans-serif;
}
body {
	background-color: var(--dkgreen);
	font-family: var(--sans);
	color: var(--black);
	margin: 0px;
	padding: 0px;
}
.sub__header {
	margin: 1.4rem auto;
	text-align: center;
	font-size: 1.6rem;
}
img {
	max-width: 100%;
}

.contacto {
	background-color: var(--dkgreen2);
	margin: 10px auto;
}
.contacto__flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.contacto__img {
	border-radius: 5px;
}
form {
	padding: 10px;
}
.contacto__text {
	font-size: 1.1rem;
	margin-bottom: 28px;
}

/* FIXME */

.contacto__group {
	position: relative;
	margin-bottom: 30px;
}

.contacto__input {
	display: block;
	font-size: 16px;
	width: 98%;
	background: #e2e2e2;
	color: #000;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 3px;
	border: none;
	border-bottom: 2px solid transparent;

	transition: all 0.2s ease;
}

.contacto__input:focus {
	outline: none;
	border-bottom: 4px solid var(--dkblue);
}

.contacto__label {
	display: block;
	position: absolute;
	top: 15px;
	left: 10px;
	width: 15%;
	border-radius: 3px;
	color: #777;
	background-color: #e2e2e2;
	font-size: 16px;
	font-weight: bold;
	padding: 3px;

	transition: all 0.2s;
}

.contacto__input:focus + .contacto__label,
.contacto__input:valid + .contacto__label {
	top: -22px;
}

.contacto-btn {
	display: inline-block;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	background-color: var(--green);
	padding: 12px 40px;
	border-radius: 3px;
	border: 1px solid transparent;
	color: var(--dkblue);
	transition: all 0.2s;
}

.contacto-btn:hover {
	background: transparent;
	color: var(--lgblue);
	background-color: var(--dkblue);
	border: 1px solid #000;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn {
	color: var(--coffee);
}
.btn:hover {
	color: var(--lgblue);
}
