* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	--black: #171321;
	--dkblue: #247ba0;
	--lgcoffee: #464646;
	--coffee: #493e3a;
	--lgblue: #5eb3fd;
	--green: #95e5b7;
	--dkgreen: #8ce3b0;
	--dkgreen2: #7ab995;
	--white: #f7f8fa;
	--font-size: 1.3rem;
	--mono: "Oxygen mono", monospace;
	--sans: Raleway, sans-serif;
}
body {
	background-color: var(--dkgreen);
	font-family: var(--sans);
	color: var(--black);
	margin: 0px;
	padding: 0px;
}
.sub__header {
	margin: 1.4rem auto;
	text-align: center;
	font-size: 1.6rem;
}
img {
	max-width: 100%;
}
.experiencia {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: antiquewhite;
	margin-top: -22px;
}
.experiencia__right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.experiencia__left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.experiencia__img-title {
	color: var(--black);
	text-align: center;
}
.experiencia__txt-title {
	color: #247ba0;
}
.experiencia__img {
	width: 40vw;
}
.experiencia__img-calc {
	width: 20vw;
}
.experiencia__txt-con-r {
	width: 40vw;
	margin-left: 4rem;
}
.experiencia__txt-con-l {
	width: 40vw;
	margin-right: 4rem;
	text-align: right;
}

/* FIXME */
.experiencia__repo {
	min-width: 7rem;
	height: 2rem;
	color: antiquewhite;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	z-index: 0;
	background: antiquewhite;
	overflow: hidden;
	border: 2px solid var(--dkblue);
	color: var(--dkblue);
}
.experiencia__repo:hover {
	color: #fff;
}
.experiencia__repo:hover:after {
	height: 100%;
}
.experiencia__repo:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	background: var(--dkblue);
}
/* TODO */

.experiencia__demo {
	min-width: 7rem;
	height: 2rem;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	z-index: 0;
	background: antiquewhite;
	overflow: hidden;
	border: 2px solid var(--dkblue);
	color: var(--dkblue);
}
.experiencia__demo:hover {
	color: antiquewhite;
}
.experiencia__demo:hover:after {
	height: 100%;
}
.experiencia__demo:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background: var(--dkblue);
}
