* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	--black: #171321;
	--dkblue: #247ba0;
	--coffe: #a18276;
	--lgblue: #5eb3fd;
	--green: #95e5b7;
	--dkgreen: #8ce3b0;
	--dkgreen2: #7ab995;
	--white: #f7f8fa;
	--font-size: 1.3rem;
	--mono: "Oxygen mono", monospace;
	--sans: Raleway, sans-serif;
}
body {
	background-color: var(--green);
	font-family: var(--sans);
	color: var(--black);
	margin: 0px;
	padding: 0px;
}
.intro {
	background-color: var(--dkgreen2);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2% 8%;
}
.bloque-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.intro__titulo {
	font-size: 1.9rem;
}
.intro__texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.intro__parrafo {
	margin: 5px auto;
	font-size: 1.1rem;
}
.intro__social-links ul {
	display: flex;
	justify-content: space-around;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.intro__social-links ul li {
	list-style: none;
	font-size: small;
	flex-wrap: nowrap;
}
.intro__social-links ul li a {
	font-size: 0.9rem;
	padding: 0 10px;
	flex-wrap: nowrap;
	color: var(--black);
	transition: all 0.1s ease;
	display: block;
}

.intro__social-links ul li a:hover {
	color: var(--coffe);
	text-decoration: underline;
}
.intro__arrow-img {
	width: 9px;
}
